*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: .5rem 0;
    justify-content: space-between;
}

.big{
    border: none;
    background-color: white;
    padding: 0.7rem;
    border-radius: 3.7rem;
    margin-top: 2rem;
    margin-right: 1rem;
}

.mac{
    background-color: #1d1c1c;
    color: white;
}

.windows{
    background-color: rgb(92, 143, 238);
    color: white;

}

nav{
    height: 35px;
    width: 600px;
    color: white;
    margin-left: 1rem;
}

.logo{
    justify-content: start;
    padding-top: 7px;
}

.flag{
    width: 2rem;
}

.login{
    height: 35px;
    border: none;
    background-color: white;
    padding: 0.7rem;
    border-radius: 0.7rem;
}

.btn{
    height: 35px;
    border: none;
    background-color: rgb(92, 143, 238);
    padding: 0.7rem;
    border-radius: 0.7rem;
}

h1{
    font-size: 3rem;
    margin: 2rem
}

h2{
    font-size: 2.8rem;
    padding-bottom: 1rem;
}

h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}

p{
    font-size: 1rem;
    line-height: 1.5rem;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;
    

}

li{
    margin-right: 16px;

}

.list{
    padding-top: 4rem;
}

.header-pad{
    background-color: #255ee9;
    width: 100%;
    height: 70px;
    display: flex;
}

.second-header{
    height: 400px;
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
}

.back-white{
    background-color: white;
    height: 550px;
    width: 100%;
}

.back-grey{
    background-color: rgb(184, 184, 184);
    height: 400px;
}

.back-big{
    background-color: rgb(184, 184, 184);
    height: 1045px;
}

.back-black{
    background-color: rgb(29, 28, 28);
    height: 500px;
}

.miniback-black{
    background-color: rgb(29, 28, 28);
    height: 70px;
}


.box-violet{
    height: 260px;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    color: white;
}

.box-blue{
    height: 350px;
    width: 60%;
    align-items: flex-start;
    display: flex;
}


.box-pink{
    height: 350px;
    width: 40%;
    padding-top: 5rem;
    padding-left: 1rem;
}

.box-green{
    width: 100%;
    text-align: center;
    padding-top: 6rem;
}

.box-salmon{
    height: 350px;
    width: 35%;
    padding-top: 4rem;
}

.box-acqua{
    background-color: rgb(75, 241, 186);
    height: 350px;
    width: 16.5%;
    border: 2px black dashed;
}

.box-cyan{
    height: 40px;
    width: 100%;
}

.mini-box{
    background-color: pink;
    border: 2px black dashed;
    font-size: 1rem;
    
}

.list-flex{
    flex-direction: column;
    display: flex;
}

.text-blue{
    color: #255ee9;
}

.text-white{
    color: white;
}

